body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
body header {
  background-color: #78e9df;
  padding: 16px;
  text-align: center;
  width: 100vw;
}
body header .logo {
  margin-bottom: 16px;
}
body header .logo img {
  width: 100vw;
}
body header .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #78e9df;
  font-family: "Segoe UI", sans-serif;
}
body header .navbar .navbar-item {
  margin-right: 10px;
  padding: 10px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
body header .navbar .navbar-item:hover {
  background-color: black;
  color: #78e9df;
}
body header .navbar .navbar-item.active {
  background-color: black;
  color: #78e9df;
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
body main {
  width: 104%;
  background-color: #f3f3f3;
}
body main #experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body main #experience h1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 32px;
}
body main #experience a {
  color: black;
  font-weight: 500;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #78e9df;
  width: 45vw;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  margin: 16px;
}
body main #experience article {
  width: 80vw;
  background-color: white;
  padding-left: 16px;
  padding-right: 12px;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
  margin: 16px;
}
body main #experience #solve {
  margin-bottom: 32px;
}
body footer {
  background-color: #78e9df;
  padding: 16px;
  width: 100vw;
  bottom: 0;
}
body footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}
body footer .social-media img {
  height: 40px;
  width: 40px;
}
body footer .info {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  margin-left: 8px;
}
body footer .info .contact-info {
  display: flex;
  align-items: center;
}
body footer .info .contact-info span {
  margin-left: 6px;
}
body footer .info .contact-info img {
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body header {
    /* Adjust the logo and navbar layout to fit smaller screens */
    flex-direction: column;
    align-items: center;
  }
  body header .logo {
    margin-bottom: 8px;
  }
  body header .logo img {
    width: 80vw;
  }
  body header .navbar {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  body header .navbar .navbar-item {
    margin-right: 0;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 24px;
    width: 180px;
  }
  body main {
    width: 102%;
    min-height: 58vh;
  }
}
@media screen and (min-width: 1024px) {
  body header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  body header .logo img {
    width: 20vw;
  }
  body header .navbar {
    flex-direction: row;
  }
  body header .navbar .navbar-item {
    width: 12vw;
  }
  body main {
    width: 101%;
    min-height: 72.5vh;
  }
  body footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  body footer .social-media {
    margin-right: 48px;
    margin-top: 16px;
    width: 20vw;
  }
}/*# sourceMappingURL=experience.css.map */