$primary-background: #78e9df;

body {
    // Remove whitespace
    margin: 0;
    padding: 0;
    // Arrange the header & footer of the site
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-around;

    header {
        // Change colour to default background
        background-color: $primary-background ;
        // Better align the header items
        padding: 16px;
        text-align: center;
        width: 100%;

        // bring the navbar lower
        .logo {
            margin-bottom: 16px;

            // Make the logo fit the screen
            img {
                width: 90%;
                margin: 16px;
            }
        }

        

        .navbar {
            // use flexbox to align navbar items evenly
            display: flex;
            justify-content: space-around;
            align-items: center;

            // give the navbar a more stylish font & recolour to match theme
            background-color: $primary-background;
            font-family: 'Segoe UI', sans-serif;

            .navbar-item {
                // Give navbar items some padding & margin to separate them
                // & recolour (and make bolder) the font to match the theme.
                margin-right: 10px;
                padding: 10px;
                color: black;
                font-weight: 600;
                // Remove underline
                text-decoration: none;
                // set the transition for the hover & select animations
                transition: all 0.2s ease-in-out;
                // add a box shadow to give the navbar some depth & round borders
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
            }

            // Switch the text & background colours when hovered over
            .navbar-item:hover {
                background-color: black;
                color: $primary-background;
            }

            // Create & apply animation when link is selected
            .navbar-item.active {
                background-color: black;
                color: $primary-background;
                animation: shake 0.3s ease-in-out;
            }

            @keyframes shake {
                0% { transform: translateX(0); }
                25% { transform: translateX(-5px); }
                50% { transform: translateX(5px); }
                75% { transform: translateX(-5px); }
                100% { transform: translateX(0); }
            }
        }
    }

    main {
        // add flex-grow to assist with responsive design
        flex-grow: 1;
        // Add grey background to main section
        background-color: #f3f3f3;
        padding: 16px;
        width: 100%;
        // Use flexbox to align items in center of screen
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .me {
            margin-bottom: 6px;

            img {
                // resize image to fit screen
                width: 90vw;
                // curve corners
                border-radius: 15px;
                // add box shadow to photo
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            }
        }

        .summary-contact {
            // use flexbox to align main content
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .summary {
                // Make background white & add some padding to align text
                background-color: white;
                padding: 8px;
                // Curve corners
                border-radius: 15px;
                // Change font to match site theme
                font-family:'Segoe UI', sans-serif;
                // create some space between the summary & contact link
                margin-bottom: 12px;
                // Add shadow
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            }

            .contact-link {
                // resize & recolour contact link
                width: 50vw;
                height: 48px;
                background-color: $primary-background;
                // give the link round sides
                border-radius: 50px;
                // position text in centre
                display: flex;
                justify-content: center;
                align-items: center;
                // give the link a shadow
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

                a {
                    // remove underline & colour text black
                    text-decoration: none;
                    color: black;
                    // Change font to match theme & make text larger & thicker
                    font-family: 'Segoe UI', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }



    footer {
        // recolour to match the theme
        background-color: $primary-background;
        // add some padding to bring the social media icons lower
        padding: 16px;
        // remove whitespace
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    
        // align the social media logos
        .social-media {
            display: flex;
            justify-content: space-around;
            margin-bottom: 16px;

            // resize the social media logos for mobile

            img {
                height: 40px;
                width: 40px;
            }
        }

        .info {
            // Update font to match theme & position it better
            font-family: 'Segoe UI', sans-serif;
            font-weight: 600;
            margin-left: 8px;

            .contact-info{
                // align text to be in the center of the images
                display: flex;
                align-items: center;

                span {
                    // create some space between image & text
                    margin-left: 6px;
                }

                img {
                    // resize images for mobile screens
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
  
      header {
        /* Adjust the logo and navbar layout to fit tablet screens */
        flex-direction: column;
        align-items: center;
  
        .logo {
          margin-bottom: 8px;
  
          img {
            width: 80vw;
          }
        }
  
        .navbar {
          flex-direction: column;
          justify-content: center;
          width: 100%;
  
          .navbar-item {
            margin-right: 0;
            margin-bottom: 8px;
            padding: 8px;
            font-size: 24px;
            width: 180px
          }
        }
      }
      /* Adjust the layout of the main content to fit tablet screens */
      main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 45vh;
        .me {
            img {
                width: 45vw;

            }
        }
        
        .summary-contact {

            .summary {
                padding: 12px;
                font-size: 20px;
                width: 80%;
            }

            .contact-link {
                width: 45vw;
                a {
                font-size: 20px;
                }
            }
        }
    }

      footer {
        // adjust logo sizes & position to better suit tablet screens
        .social-media {
            padding: 16px;

            img {
                transform: scale(1.25);
            }
        }

        .contact-info {
            font-size: 16px;
        }
      }
    }
  }

@media screen and (min-width:1024px) {
    body {
        header {
            // Adjust formatting of header & keep it fixed at the top of the screen
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .logo {
                img {
                    // resize logo to fit new layout
                    width: 20vw;
                }
            }
            .navbar {
                flex-direction: row;

                .navbar-item {
                    // Change width to be uniform for navbar components
                    width: 12vw;
                }
            }
        }

        main {
            // Adjust main content layout to fit desktop screens
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 63.6vh;

            .me {
                img {
                    width: 30vw;
                }
            }

            .summary-contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 27vh;

                .summary {
                    width: 60vw;
                    font-size: 16px;
                }

                .contact-link {
                    width: 30vw;
                }
            }

        } 

        footer {
            // Re-position social media icons & contact details to fit desktop screens.
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            .social-media {
                margin-right: 48px;
                margin-top: 16px;
                width: 20vw;
            }
        }

    }
}